<h1 class="add-tweet-header">Add a Tweet</h1>


<form class="add-tweet" action="/tweets" method="POST">
    <label for="">DATE:</label>
    <input id="date" type="text" name="date" value="DD/MM/YY">

    <label for="">Tweet:</label>
    <textarea class="new-tweet" type="text" name="tweet"></textarea>
    
    <label for="">Link:</label>
    <input type="text" name="link" value="https:// ">

    <label for="">1 min before Tweet: $ </label>
    <input class="price-input" type="text" name="one_min_bt" >

    <label for="">5 mins after Tweet: $ </label>
    <input class="price-input" type="text" name="five_min_at" >

    <label for="">10 mins after Tweet: $ </label>
    <input class="price-input" type="text" name="ten_min_at" >


    <button class="add-tweet-btn">Add a Tweet</button>
</form>


<img class="add-tweet-elon-img" src="https://file.publish.vn/marginatm/2021-10/nft-elon-musk-ban-gia-20k-do-la-1-1635150271757.png" alt="">

<h2 class="great-job">Great Job Bro!</h2>